<mat-card>
    <mat-card-content>
        <div *ngIf="isSignup">
            <h3><strong>Create Account</strong></h3>
    
        <button mat-stroked-button (click)="changeType('login')">
            Returning user?
        </button>
        </div>

        <span class="fill-space"></span>
  
        <div *ngIf="isLogin">
        <h3><strong>Sign In</strong></h3>
        <button size="small" mat-stroked-button (click)="changeType('signup')">
            New user?
        </button>
        </div>

        <br />
  
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field [color]="username?.valid ? 'accent' : 'primary'" hideRequiredMarker appearance="outline">
            <mat-label>Username</mat-label>
            <input
            matInput
            formControlName="username"
            type="username"
            autocomplete="off"
            />
    
            <mat-error *ngIf="username?.invalid && username?.dirty">
            You must enter a valid username address
            </mat-error>
        </mat-form-field>
    
        <mat-form-field [color]="username?.valid ? 'accent' : 'primary'" hideRequiredMarker appearance="outline">
            <mat-label>Password</mat-label>
            <input
            matInput
            formControlName="password"
            type="password"
            autocomplete="off"
            />
    
            <mat-error *ngIf="password?.invalid && password?.dirty">
            Password must be at least 6 characters long
            </mat-error>
        </mat-form-field>
    
        <mat-form-field
            [color]="passwordDoesMatch ? 'accent' : 'warn'"
            *ngIf="isSignup"
            appearance="outline"
        >
            <mat-label>Confirm Password</mat-label>
            <input
            matInput
            formControlName="passwordConfirm"
            type="password"
            autocomplete="off"
            />
    
            <mat-error *ngIf="passwordConfirm?.dirty && !passwordDoesMatch">
            Password does not match
            </mat-error>
        </mat-form-field>
    
        <mat-error class="server-error">{{ serverMessage }}</mat-error>
    
        <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid || !passwordDoesMatch || loading"
        >
            Submit
        </button>
        </form>
    </mat-card-content>
  </mat-card>